.container {
    background-color: #E5E5E5;
}

/* main*/
.bg {
    background: #DEF7F6;
}

.saldo {

    padding: 50px 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;

    margin: 0 auto;

    max-width: 1140px;
    height: 370px;

    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.side {
    background: #CFDEFF;
    box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px 0px 0px 10px;
    font-size: 1.3rem;
}

.sideLink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #cfdeff;
    padding: 0;

}

.sideLink a {
    height: 5rem;
    padding-top: 0.5rem;
}

.side a:hover {
    cursor: pointer;
    background-color: #bfd1f6;
}


.card {
    padding: 0.9rem;
    text-align: center;
    justify-content: center;
}

.card h6,
.card strong {
    font-size: 2rem;
}

.content {
    background-color: #C2D5FF;
}