.depoimentos {
    display: flex;
    flex-direction:column;
    background-color: #3dcecb;  
}

.depoimentos_home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1080px;
    margin: 0 auto;
    padding: 5rem;   
}

.depoimentos_items {
    background-color: #f5f6f7;
    margin: 1.5rem;
    border-radius: 10px;
    padding: 1rem;
}
.depoimentos_rating{
    display: flex;
}

.depoimentos_ratingItems{
    flex-direction: column;
    margin-left: 0.5rem;

}

.name {
    margin-left: 5px;
}

.depoimento {
    color: #333333;
    padding: 0.5rem;

}

.cadastro {
    flex: 1;
    flex-direction: column;
    text-align: center;
    color: #333333;
    padding-bottom: 2rem;
}

.cadastro span h4 {
    text-align: center;
    color: #333333;
    font-weight: normal;
    margin-bottom: 0.5rem;
}
@media screen and (max-width: 540px){
    .depoimentos_home{
      grid-template-columns: 1fr;
      padding: 0.5rem;
      
    }
    .depoimentos_items{
        min-width: 14rem;
        margin: 0.5rem;
        
    }
  }
