
.navContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #DEF7F6;
  
  padding: 2rem;
}



.navContainerList{
  display: flex;
}
.navContainerListItem{
  margin-left: 1.5rem;
  color: #333333;
}

.navContainerListItem a:hover{
  color:black;
}

@media screen and (max-width: 960px){
  .navContainer  img{
    max-width: 40%;
    
  }
}

@media screen and (max-width: 850px){
  .navContainer{
    flex-wrap: wrap;
    font-size: 0.8rem;
  }
  .navContainer  img{
    max-width: 100%;
    
  }
  .navContainerListItem{
    margin-left: 0.5rem;
  }
}