.parceiros {
    background-color: #cfdeff;
    
    padding: 3.75rem;
  }
  
  .parceiros_title {
    margin: 0 0 15px 0;
  }

  .partnerContent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  .descricao_parceiros {
    color: #333333;
    padding: 5px 0 15px 0;
  }
  
  /*duvidas*/
  
  .duvidas {
    background-color: #DEF7F6;
    padding: 60px;
  }
  
  .duvidas_title {
    margin: 0 0 1rem 1rem;
  }
  
  .descricao_duvida {
    font-weight: lighter;
    color: #333333;
  }

  @media screen and (max-width: 540px){
    .partnerContent{
      display: grid;
      grid-template-columns: 1fr;
      
    }
  }
