.bg {
  background: #C2D5FF;
  height: 100vh;
}

.container{
  background-color: #d0e7ff9f;
}

.container h1{
  text-align: center;
}
.form {
  
  padding: 1.5rem;

}

.input input,
.input select, .input button, .input a  {
  outline: none;
  width: 100%;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 20px;
  color: rgba(0, 0, 0, 0.6);
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  margin: 0.5rem;
}

.input a {
  display: block;
  text-align: center;
}

.input div {
  margin-bottom: 1rem;
}

.input button, .input a {
  cursor: pointer;
  background-color: #425ef8;
  color: white;
  margin: 0.5rem;
}

.input button:hover, .input a:hover {
  background-color: #142585;
  color: white;
}
  




.inputDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}


.cartao {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .cartao img {
width: 30%;

} */